{% load static %}
<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">

<div class="container mt-4">
    <h2 class="text-center">Enter New Password</h2>
    <p class="text-center">Please enter a new password for your account.</p>

    <div class="form-floating" style="width: 80%; margin: 0 auto;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;">Reset Password</button>
        </form>
    </div>
</div>
