{% load static %}
<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">

<div class="container mt-4">
    <h2 class="text-center">Forgot Password?</h2>
    <p class="text-center">Enter your email, and we'll send you a password reset link.</p>

    <div class="form-floating" style="width: 80%; margin: 0 auto;">
        <form method="POST">
            {% csrf_token %}
			<div class="form-floating mb-3">
            {{ form.as_p }}
			<button type="submit" class="btn btn-primary">Reset Password</button>
			<a href="{% url 'employer_login' %}" class="btn btn-outline-secondary">Back to Login</a>
			</div>
				
        </form>
    </div>

    <div class="text-center mt-3">
        
    </div>
</div>
